@font-face {
  font-family: "TT Lakes bold";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes normal";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Medium.woff") format("woff"), url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: TT Lakes normal;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  height: 88px;
  background-color: #fff;
  padding: 0 16px 0 16px;
}

.nav-menu__left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-menu__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.table-menu-buttons {
  display: none;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ff3e79;
  cursor: pointer;
  opacity: 1;
  transition: opacity 250ms, transform 250ms;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.burger {
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.repair {
  display: flex;
  align-items: center;
  background-image: url("../img/repair.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.repair::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  position: absolute;
  left: -16px;
}

.search {
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.msg {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  background-image: url("../img/contacts.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  width: 100%;
  position: relative;
}

.title-buttons {
  display: none;
}
.title {
  font-family: TT Lakes bold;
  width: 304px;
  height: 40px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 28px;
  font-weight: bold;
  color: #1b1c21;
  line-height: 40px;
  position: relative;
}

.title::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  position: absolute;
  left: -16px;
  border-radius: 0 50% 50% 0;
}

.services-list {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 16px;
  width: 100%;

  margin-top: 24px;
  list-style-type: none;
  overflow-x: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.service-item {
  display: flex;
  font-family: TT lakes normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 246px;
  height: 40px;
}

.services-list-wrapper {
  display: flex;
  width: 100%;

  overflow-y: hidden;
}

.active {
  border: 2px solid #b8ffec;
  background-color: #fff;
}

.container-bottom {
  display: flex;
  padding: 16px;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  font-size: 14px;
  line-height: 18px;
  border: 2px solid blue;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21;
  margin-left: 16px;
  overflow: hidden;
  height: 75px;
}

.read-more {
  min-width: 100px;
  max-width: 140px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  border: none;
  margin-left: 28px;
  position: relative;
  margin-top: 16px;
}

.read-more::before {
  content: url("../img/elka.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

.image {
  min-width: 320px;
  width: 100%;
}

@media (min-device-width: 768px) {
  .table-menu-buttons {
    display: flex;
  }

  .container-bottom {
    flex-direction: row;
  }
  .text-two {
    margin-top: 24px;
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.info {
  height: auto;
  flex-direction: column;
  overflow: visible;
}

.image {
}

@media (min-device-width: 1120px) {
  .title-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .title-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .container-bottom {
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
  }
  .info-wrapper {
    align-items: flex-start;
  }
  .info {
    height: auto;
    flex-direction: column;
    overflow: visible;
  }

  .read-more {
    display: none;
  }
}
